@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

	
	
html { 

    /* スマートフォン */
    @media (max-width: 670px) {
    .box {
        font-size: 20px;
    }
    }
}

body {
    padding-top: 60px;
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }

.brand-logo {
    font-size: 2em;
}

/* navbar 全体の背景色とボーダーカラー */

.header {
    margin-bottom: 2em;

    /* スマートフォン */
    @media (max-width: 670px) {
      margin-bottom: 6em;
    }
}
.navbar {
    background-color: #ffffff;
    border-color: #ffffff;
    }
/* navbar テキストカラー */
.navbar {
    a {
        color: #000000;
    }
}
.userBox {
    border-radius: 10px;
    margin-bottom: 2em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
 
.userBox:hover {
    background-color: #dcdcdc;
}

#record {
    .userBox {
        border-radius: 10px;
        margin-bottom: 2em;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        background-color: #e5e5e5;
    }
     
    .userBox:hover {
        background-color: #aaa;
    }
}

.box {
    /*box-shadow*/
    box-shadow:0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
    -webkit-box-shadow:0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
    -moz-box-shadow:0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
    /*ボックスのデザイン*/
    padding:10px;
    border:1px solid #ccc;
    text-align:center
}

/* チェックボックスの非表示 */
.switch input[type=checkbox] {
    display: none;
}

.switchButton {
    margin-bottom: 2em;

    /* スマートフォン */
    @media (max-width: 670px) {
      margin-bottom: 5em;
    }
}

/* ラベル要素の中身のスタイル（具体的にはスイッチ部分） */
.switch label {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* ラベル要素の中身の直前にスイッチのON部分追加 */
.switch label:before {
    padding: 6px 10px;
    content: 'ON';
    border-radius: 6px 0 0 6px;
    background: linear-gradient(to bottom, #F0F0F0 0%, #DDD 100%);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1) inset;
    color: #333;
}

/* ラベル要素の中身の直前にスイッチのOFF部分追加 */
.switch label:after {
    padding: 6px 10px;
    content: 'OFF';
    border-radius: 0 6px 6px 0;
    background: #C30;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1) inset;
    color: #FFF;
}

/* スイッチがOFF状態の場合ON部分のホバーは透かしを入れる */
.switch input+label:hover:before {
    opacity: 0.5;
}

/* スイッチがON状態の場合OFF部分のホバーは透かしを入れる */
.switch input:checked+label:hover:after {
    opacity: 0.5;
}

/* スイッチがON状態でONに色をつける */
.switch input:checked+label:before {
    background: #9C0;
    color: #FFF;
    opacity: 1;
}
/* スイッチがOFF状態でOFFに色をつける */
.switch input:checked+label:after {
    background: linear-gradient(to bottom, #F0F0F0 0%, #DDD 100%);
    color: #333;
}

// モーダル
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;

    /* スマートフォン */
    @media (max-width: 670px) {
      font-size: 22px;
    }
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;

    /* スマートフォン */
    @media (max-width: 670px) {
      font-size: 22px;
    }
  }
  
  .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;

    /* スマートフォン */
    @media (max-width: 670px) {
      font-size: 22px;
    }
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
    font-size: 18px;

    /* スマートフォン */
    @media (max-width: 670px) {
      font-size: 22px;
    }
  }
  
  .modal-body {
    margin: 20px 0;

    /* スマートフォン */
    @media (max-width: 670px) {
      font-size: 22px;
    }
  }
  
  .modal-default-button {
    float: right;

    /* スマートフォン */
    @media (max-width: 670px) {
      font-size: 22px;
    }
  }

  .form-control {
      margin-bottom: 1em;
  }